@keyframes balance {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotateIntermitent {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(45deg); }
  40%  { transform: rotate(90deg); }
  60%  { transform: rotate(135deg); }
  80%  { transform: rotate(180deg); }
  100% { transform: rotate(180deg); } /* pausa antes de reiniciar */
}

@keyframes circling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomInOut {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }  /* zoom in */
  100% { transform: scale(1); }    /* volta ao normal */
}