:root {
  --clr-green: #39aa92;
  --clr-green-dark: #58a692;
  --clr-green-light: #ced493;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-purple: #5d3790;
  --clr-purple-dark: #251929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}

section {
  width: 100%;
  min-height: 100vh;
}

/***************/
/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-green);
  color: #fff;
  padding: 1rem 2rem;
  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 8rem;
  height: auto;
}

.logo .logo-text {
  font-size: 5.8rem;
  font-weight: 500;
}

.main-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar ul li {
  list-style: none;
  padding: 3rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.main-navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 2.6rem;
  transition: all 0.3s ease;
  font-weight: 200;
}

.main-navbar ul li:hover {
  cursor: pointer;
  font-weight: 700;
}

.main-navbar ul li a.active {
  font-weight: 700;
}

.menu-icon > svg,
.close-menu-icon > svg {
  width: 50px;
  color: #fff;
  cursor: pointer;
  rotate: 180deg;
  transition: all 0.5s ease;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu span {
  display: inline-block;
  transition: opacity 0.2s ease;
}

.hidden {
  display: none !important;
}

/***************/
/* HERO SECTION */
.hero-section {
  background-color: var(--clr-green-light);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-content h1 {
  font-size: 14rem;
  font-weight: 700;
  padding-right: 1.8rem;
  text-transform: uppercase;
  color: var(--clr-purple);
  line-height: 0.85;
  text-align: right;
  border-right: 1px solid var(--clr-purple);
  animation: zoomInOut 6s ease-in-out infinite;
}

.hero-content h2 {
  font-size: 7rem;
  font-weight: 500;
  padding-left: 1.6rem;
  text-transform: uppercase;
  color: var(--clr-white);
  line-height: 1.2;
  text-align: left;
}

/* What We Do Section */
.what-we-do {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 2rem 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-content {
  display: grid;
  grid-template-columns: minmax(200px, 35%) minmax(300px, 65%);
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}

.what-we-do h2 {
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 0.85;
  font-weight: 500;
}

.what-we-do-description p {
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
}

.what-we-do-description span {
  color: var(--clr-purple);
}

.what-we-do-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.what-we-do-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.what-we-do-categories .category {
  height: 60vh;
  margin-top: -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--clr-purple);
  border-radius: 1rem;
  transition: all 0.3s ease;
  background-image: linear-gradient(
      to bottom,
      rgba(50, 1, 86, 0.7),
      rgba(161, 78, 239, 0.7)
    ),
    url("../imgs/ikiverse-stars-bg.png");
  background-size: cover;
  background-position: center;
}

.category img {
  width: 13%;
  margin-bottom: -25rem;
  position: absolute;
}

.category1 img,
.category3 img {
  animation: balance 4s ease-in-out infinite;
  animation-direction: reverse;
}

.category2 img,
.category4 img {
  width: 15%;
  animation: balance 6s ease-in-out infinite;
}

/* Stand Out Section */
.stand-out {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 2rem 8rem;
  padding-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stand-out h2 {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-white);
  line-height: 1;
  position: relative;
  z-index: 1;
}

.stand-out-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.stand-out-person {
  position: absolute;
  width: 45rem;
  top: -115%;
  left: 32%;
  z-index: 0;
  animation: zoomInOut 4s ease-in-out infinite;
}

.stand-out-floating-door {
  position: absolute;
  left: 0 !important;
  width: 68rem;
  top: -20%;
  left: 0;
}

.stand-out-description {
  padding-left: 5rem;
}

.stand-out-description p {
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.stand-out-description h5,
.stand-out-description h6 {
  font-size: 4.4rem;
  line-height: 0.3;
  color: var(--clr-green-light);
  margin-top: 2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.stand-out-description h5::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%);
  width: 107%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

.stand-out-description h6::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%) translateX(-7%);
  width: 107%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

/* Brands Slider */
.brands-impact-make-impossible {
  margin-top: -14rem;
  padding-bottom: 10rem;
  background-color: var(--clr-green);
}

/* Brands Gallery */
.brands-gallery {
  background-color: var(--clr-green);
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.brands-one,
.brands-impact {
  padding: 6rem 0;
}

.brand-gallery-cell {
  width: 30%;
}

.brand-gallery-cell img {
  width: 95%;
}

/* Brands Impact */
.impact-gallery-cell {
  width: 50%;
}

.impact-gallery-cell img {
  width: 100%;
}

.brands-impact {
  display: grid;
  grid-template-columns: minmax(200px, 45%) minmax(300px, 55%);
  align-items: center;
  padding-left: 10%;
}

.brands-impact-description h5,
.brands-impact-description h6 {
  font-size: 4.2rem;
  line-height: 0.3;
  color: var(--clr-green-light);
  margin-top: 2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.brands-impact-description h5::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%);
  width: 105%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

.brands-impact-description h6::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%) translateX(-7%);
  width: 107%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

.brands-impact-description p {
  width: 60%;
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  color: var(--clr-white);
}

/* Brands Make Impossible */
.make-impossible-gallery {
  margin-top: 4rem;
}
.brands-make-impossible {
  position: relative;
}

.brands-make-impossible-floating-img img {
  width: 14rem;
  top: -10rem;
  left: 48%;
  position: absolute;
  z-index: 1;
}

.make-impossible-gallery-cell {
  width: 33%;
}

.make-impossible-gallery-cell img {
  width: 100%;
}

.make-impossible-gallery-cell {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-impossible-description p {
  font-size: 2.8rem;
  color: var(--clr-white);
}

.make-impossible-description h4 {
  font-size: 4.8rem;
  line-height: 0.3;
  color: var(--clr-green-light);
  margin-top: 2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.make-impossible-description h4::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transform: translateY(-50%);
  width: 107%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

/* ABout and Team Section */
.about-and-team {
  background-color: var(--clr-black);
  color: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-content,
.team-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imgs/about/meet-team.png");
}
.team-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imgs/about/meet-ikigai.png");
}

.about-content img,
.team-content img {
  width: 18rem;
  animation: rotateIntermitent 3s ease-in-out infinite;
  transform-origin: center;
}

.about-content img {
  animation-direction: reverse;
}

.about-content h4,
.team-content h4 {
  font-size: 5.8rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: italic;
}

.about-content h4 span,
.team-content h4 span {
  font-weight: 900;
  font-style: normal;
  font-size: 6.2rem;
}

.about-content h4 {
  margin-top: 2.4rem;
  line-height: 1;
}

.team-content h4 {
  margin-bottom: 2.4rem;
  line-height: 1;
}

/* Our Customers */
.our-customers {
  background-color: var(--clr-green);
  padding: 12rem 14rem;
}

.our-customers-content {
  width: 100%;
  margin: 0 auto;
  color: var(--clr-white);
  padding-bottom: 8rem;
}

.our-customers-content h4 {
  font-size: 4.8rem;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
}

.our-customers-content h4 span {
  font-weight: 900;
  font-style: normal;
  position: relative;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.our-customers-content h4 span::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  width: 115%;
  height: 1.4rem;
  background-color: var(--clr-purple);
  z-index: -1;
  border-radius: 2px;
}

.our-customers-logos {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.our-customers-logo img {
  width: 55%;
  height: auto;
  transition: all 0.3s ease;
}

/***************/
/* FOOTER SECTION */
/***************/
footer {
  background-color: var(--clr-green-dark);
  color: var(--clr-white);
  padding: 4rem 14rem;
  position: relative;
}

.footer-cross img {
  width: 16rem;
  position: absolute;
  top: -8rem;
  left: 30rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.schedule {
  margin-top: 6rem;
  grid-column: 1 / 2;
}

.schedule h6 {
  font-size: 3.4rem;
  font-weight: 900;
}

.schedule p {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 100;
}

.schedule a {
  font-size: 2.4rem;
  color: var(--clr-white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.subscribe-newsletter h5 {
  font-size: 3.4rem;
  font-weight: 900;
  margin-bottom: -0.6rem;
}

.subscribe-newsletter input {
  width: 100%;
  padding: 1rem 1.8rem;
  border: 1.5px solid var(--clr-white);
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 100;
  background-color: transparent;
  transition: all 0.3s ease;
}

.subscribe-newsletter input:focus {
  outline: none;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;
}

.subscribe-newsletter input::placeholder {
  color: var(--clr-white);
  font-size: 1.8rem;
}

.subscribe-newsletter p {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.social-media {
  display: flex;
}

.social-media svg {
  width: 6rem;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  transition: all 0.3s ease;
}

.back-to-top svg {
  width: 4rem;
}

/* ==============================
          IKIVERSE PAGE 
============================== */
.ikiverse-section {
  height: 200vh;
  display: flex;
  justify-content: center;
  color: var(--clr-white);
  background: url(../imgs/ikiverse-stars-bg.png);
  /* position: relative; */
  z-index: 1;
}

.ikiverse-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background: rgba(158, 92, 188, 0.2);
  z-index: 0;
}

.ikiverse-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem;
  line-height: 0.8;
  color: var(--clr-green);
}

.ikiverse-title h1 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.ikiverse-title h1::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  width: 110%;
  height: 1.2rem;
  background-color: var(--clr-purple);
  z-index: -1;
}

.ikiverse-title h2 {
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 2rem;
  z-index: 1;
}

.ikiverse-ovin {
  position: absolute;
  top: 40%;
  left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ikiverse-ovin img {
  width: 90%;
  height: auto;
  animation: balance 2s infinite ease-in-out;
  transform-origin: top center;
}

.ikiverse-ovin h4 {
  font-size: 4.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 2rem;
  color: var(--clr-green-light);
}

.ikiverse-fakenews {
  position: absolute;
  top: 45%;
  right: 4%;
}

.ikiverse-fakenews img {
  width: 90%;
  height: auto;
  animation: balance 1.6s infinite ease-out;
}

.ikiverse-fakenews h4 {
  font-size: 4.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 2rem;
  color: var(--clr-green-light);
  margin-top: -2rem;
}

.ikiverse-planets {
  position: absolute;
  top: 90%;
  left: 10%;
}

.ikiverse-planets img {
  width: 120%;
  height: auto;
  animation: zoomInOut 4s ease-in-out infinite;
}

.ikiverse-galaxy {
  display: flex;
  position: absolute;
  top: 146%;
  right: 10%;
}

.galaxy,
.go-in-hand {
  top: 0;
  right: 0;
}
.galaxy img {
  position: absolute;
  width: 90%;
  height: auto;
  top: -10rem;
  right: -10rem;
  animation: zoomInOut 4s ease-in-out infinite;
}

.go-in-hand img {
  width: 90%;
  margin-top: -8rem;
  margin-right: 10rem;
  animation: balance 10s linear infinite;
}
.ikiverse-galaxy h4 {
  width: 45rem;
  font-size: 4.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 2rem;
  color: var(--clr-green-light);
  position: absolute;
  top: -24rem;
  right: 0;
}

.ikiverse-galaxy h5 {
  width: 12rem;
  font-size: 3.4rem;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 2rem;
  color: var(--clr-green-light);
  position: absolute;
  top: 26rem;
  right: 34vw;
}

.ikiverse-galaxy h5 span {
  font-weight: 900;
  font-style: normal;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  height: 200vh;
}
