/* Medium Devices */
@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
  /* .stand-out {
    padding-top: 30rem;
  } */

  .main-navbar {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* HERO SECTION */
  .hero-content {
    flex-direction: column;
  }
  .hero-content h1 {
    border-right: none;
    border-bottom: 1px solid var(--clr-purple);
    padding-bottom: 1.8rem;
    text-align: center;
  }
  .hero-content h2 {
    text-align: center;
  }

  .what-we-do-content {
    grid-template-columns: 1fr;
  }

  .what-we-do-description p {
    margin-bottom: 6rem;
  }

  .what-we-do-categories .category {
    height: 40vh;
  }

  .category img {
    width: 17%;
  }

  .stand-out-content {
    grid-template-columns: 1fr;
  }

  .stand-out-description {
    padding-left: 50rem;
  }

  .our-customers-logo img{
    width: 70%;
  }
}

/* Small Devices */
@media screen and (max-width: 560px) {
  .stand-out-floating-door {
    width: 50rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: left;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .stand-out-person {
    width: 30rem;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .stand-out-person {
    width: 20rem;
    margin-top: 20rem;
  }

  .stand-out-floating-door {
    width: 40rem;
  }
}
